#cont_informacion{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    margin-top: 15%;
}

#cont_informacion #tarjetaInfo{
    width: 25%;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 2%;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
    border:solid;
    
}

#cont_informacion #tarjetaInfo:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

#cont_informacion #tarjetaInfo #img1{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top:8%;
    float: left;
}

#cont_informacion #tarjetaInfo #img2{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top:15%;
    float: left;
}

#cont_informacion #tarjetaInfo h1{
    font-family:arial;
    font-weight: bolder;
    float: left;
    margin-top: 15%;
    margin-right: 10%;
}

#cont_informacion #tarjetaInfo h2{
    font-family:arial;
    font-weight: bolder;
    float: left;
    margin-top: 8%;
    margin-right: 3%;
}

#fondo{
    width: 50%;
}

body{
    background-color:#b8c8f3;
    overflow-x: hidden;
}

#container{
  border-bottom: solid black;
  display:flex;
  
}

#texto{
    margin-top: 10%;
    font-family: arial;
    font-size: 120%;
    margin-left:5%;
    margin-right: 5%;
}

#header {
    background: rgb(52, 153, 235);
    color: black;
    height: 130px;
    width: 100%; 
    left: 0; 
    top: 0; 
    position: fixed; 
    border:solid 2px;
}	
#header a {
    color: black;
}

#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo-header:hover {
    color: #0b76a6;
}	
#logo-header .titulo {
    display: block;
    font-weight: bolder;
    font-size: 2em;
    color: black;
    font-family:arial;
    margin-top: 8%;
    
}

header img{
    width: 8%;
    height: 8%;
    float: left;
    margin-left: 1%;
    margin-top: 0.8%;
    
}

.nav{
    font-family: arial;
    float: right;
    margin-right: 10%;
    margin-top:3%;
    color: black;
    font-weight: bolder;
    font-size: 120%;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:rgb(52, 153, 235);
    color: black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color: #0b76a6;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}